@import '../../less/variables';

.catalog {
  padding-top: 24px;
  margin-bottom: 116px;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: .8fr 3fr;
    gap: 80px;
    padding-top: 40px;
    margin-bottom: 100px;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    align-items: center;
    margin-top: 18px;
    padding-top: 15px;
    border-top: 2px solid #E2E2E2;

    @media (min-width: 620px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      gap: 28px 48px;
      border-top: none;
      padding-top: 0;
      margin-top: 40px;
    }
  }

  &__item {
    align-self: start;
    @media (min-width: 620px) {
      padding: 16px;
    }

    @media (min-width: 1024px) {
      padding: 0;
    }

    @media (min-width: 1024px) {
      transition: box-shadow 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 20px 20px rgba(50, 50, 71, 0.12), 0 32px 40px rgba(50, 50, 71, 0.12);
      }
    }

    &_info {
      @media (min-width: 1024px) {
        padding: 16px;
      }
    }

    &_img {
      width: 100%;
    }

    &_title {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: @color-text;
      word-wrap: anywhere;
      margin: 4px 0;

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }

      @media (min-width: 1024px) {
        margin-top: 0;
      }
    }

    &_cost {
      &-actual {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: @color-text;

        @media (min-width: 768px) {
          font-size: 18px;
          line-height: 26px;
        }
      }

      &-old {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: line-through;
        color: #A0A0A0;
        margin-left: 12px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}